
.photo-item {
    overflow: hidden;
    padding: 0 0 15px 0;
    cursor: pointer;
    transition: all .3s ease 0s;

    &:hover {
        transform: translateY(-10px);
    }

    .content {

        .photo-content {
            position: relative;

            .photo-count {
                position: absolute;
                top: 30px;
                right: 30px;
                font-size: 14px;
                color: var(--white-color);
                padding: 5px 10px;
                background-color: var(--font-color-trans);
                border-radius: var(--border-radius);
            }
            .photo-album {
                width: 100%;
                height: 400px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 200px);

                div {
                    background-size: cover;
                }
            }
        }

        .text-content {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            span {
                display: block;
            }
            .descr {
                font-size: 16px;
                font-weight: 300;
                font-style: italic;
                text-align: center;
                margin: 0 50px;
            }
            .date {
                text-align: end;
                font-weight: 500;
                font-size: 14px;
                color: var(--font-color-trans);
                margin-right: 20px;
            }
        }

    }
}